<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Welcome to the mystery bookstore!
        {% if request.user.first_name %}{{ request.user.first_name }}
        {% else %}{{ request.user.username }}
        {% endif %}</h1>
    <div><a href="{% url 'auth_logout' %}">Log Out</a></div>
    {% else %}
    <h1>Welcome to the mystery bookstore!
        Would you like to <a href="{% url 'auth_login' %}">log in</a>?</h1>
    {% endif %}
    <h2>There are {{ count }} books in stock.</h2>
    <h3>User Location: {{ request.session.location }}</h3>
</body>
</html>